*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: black;
   
    width: 100% ;
    padding: 10px 40px;
}
.header h5{

    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: bold;
    text-align: center;


}
.box-border{
width: 100%;
height: 100px;

display: flex;
padding: 30px;
}
.box-border .left-box{
    width: 50%;
height: 100%;
    
    /* float: left; */
}
.box-border .left-box button{
    background-color: blue;
    padding: 13px;
    border: none;
    outline: none;

}
.box-border .right-box{
    width: 50%;
  height: 100%;
  display: flex;
/* float: right; */
    /* background-color: rgb(209, 30, 17); */
}
.box-border .right-box i{
    font-size: 30px;
}
.box-border .right-box input {
    padding: 13px;
    border: none;
    outline: none;
    width: 60%;
    border-top: 3px solid  rgb(7, 189, 221);
    border-left: 3px solid  rgb(7, 189, 221);
    border-bottom: 3px solid  rgb(7, 189, 221);

}
.box-border .right-box button{
    background-color: black;
    color: #fff;
    padding: 13px;
    /* font-size: 18px; */
    
}
/*Tables */
.table-box{

    width: 100%;
    padding: 30px;
}
.table-box table{
    width: 100%;
    
}
.table-box table tr th{

    padding: 30px 0px 0px ;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    
}
.table-box table tr td{
    padding: 30px 0px 0px ;
    border-right: 1px solid black;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 5px 0px 5px;


}
.table-box table tr td button{
    padding: 5px ;
    border: 0;
    outline: 0;
    width: 30%;
    font-size: 18px;
    background-color: rgb(77, 155, 211);
    margin: 0px 10px;
   

}
.modal{
     width:70%;
    height: 500px;
    position: fixed;
    top: 50%; 
    left: 50%; 
    background-color: #f2f2f2;
    transform: translate(-50%,-50%);
    display: flex;
    border-top: 20px groove rgb(124, 124, 130);
    opacity: 0;
    z-index: -1;
}
 .active{
    opacity: 1;
    z-index: 1;
    width: 60%;
}
.modal .close-icon{
   position: absolute;
   right :0;
   top:-25px;
   font-size:25px;
   color:white;



}
.left-modal{
    width: 30%;
    height: 100%;
    background-color: #f2f2f2;
    
}
.left-modal .img-box{
    display: flex;
    width: 100%;
    height:300px;
    
    position: relative;
}
.left-modal .img-box i{
    padding:10px;
    position: absolute;
    font-size: 30px;
    right:40px;
    top:60px;
}
.left-modal .img-box input{
    
    position: absolute;
    font-size: 30px;
    right:40px;
    top:60px;
    opacity: 0;
}
.left-modal .img-box img{
    border-radius: 20px;
}
.right-modal{
    width: 70%;
    border-left: 5px dashed #9a1f1f;
}
.right-modal .input-box {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.right-modal .input-box label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.right-modal .input-box input{
   width: 60%;
    border: none;
    padding: 8px;
    outline: none;
    border-bottom: 3px solid rgb(164, 127, 127);
}
.right-modal .input-box button{
    width: 40%;
    border: none;
    outline:none;
     background-color: #007da7;
     color:#f2f2f2;
     font-size:13px;
     margin: 15px 10px ;
     padding: 13px;

}